
/* #section_one,*/ #section_two, #section_three, #section_four, #bonus { 
  display: none;
}
pre code{
  color: black;
  background-color: white;
  border: 1px solid black;
  display: block;
  font-size: 30px;
}

nav, #subNav {
  margin: 50px 0px;
}





